.chatWindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.userIconDiv{
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1rem 2rem;

}

.userInput{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    margin: 0px 15px;
}

input:focus{
    outline: none;
}
.submit{
    cursor: pointer;
    margin: 7px;
    height: 20px;
}


.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}